.signup{
  text-align: center;
}

.signin{
  text-align: center;
}

label{
  margin-left: 3mm;
}

.signup-link{
  text-decoration: none;
}

.home{
  text-align: center;
}


.button {
  border-radius: 4px;
  background-color: #ebe4e2;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  margin: 2mm;
  margin-top: 20mm;
}

.button:hover {background-color: #abddad}

.error{
  font-size: 12px;
  width: 100%;
  color: red;
}

.bg-myRed{
  background-color: crimson;
}

.content{
  padding: 12px;
  height: 3000px;
}

.coloring{
  color: black;
}

.text{
  margin-top: 30mm;
}

.navbar li:hover {
  background-color: rgb(204, 253, 224);
}

.Record{
  margin-top: 15mm;
  margin-left: 50mm;
  margin-right: 50mm;
}

.header{
  background-color: rgb(204, 253, 224);
}

.reducerHome{
  margin-top: 100px;
  text-align: center;
  padding: 10mm;
}

.inc_dec{
  margin-top: 30px;
}

.input{
  width: 50px;
  text-align: center;
  height: 50px;
  background-color: #abddad;
  border-radius: 15px;
  border: none;
}

.incdec_button{
  border-radius: 15px;
  border: none;
  text-align: center;
  width: 50px;
  height: 50px;
  margin: 5mm;
}

.incdec_button:hover {background-color: #abddad}


.card_align{
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.card{
  display: inline-flex;
  width: 500px;
  margin: 0 20px;
  padding: 25px 20px;
  /* flex-direction: column; */
  margin-bottom: 4mm;
  margin-left: 27px;
}

.card-text{
  margin-top: 10px;
  overflow: hidden;
  /* max-height: 75px; */
}

.link:hover{
  color: yellow;
}

.error{
  color: red;
  text-align: center;
}

@import url("https://cdn.syncfusion.com/ej2/material.css");

/* .dateRange{
  margin-left: 20mm;
  margin-right: 20mm;
} */

.range{
  max-width: 70mm;
  margin-left: 510px;
}

.date{
  margin-left: 100mm;
}

.filter{
  margin-left: 100mm;
}
